.App {
  margin: 1rem;
  font-family: 'Open Sans', sans-serif;
}

#fetch-embed-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-row {
  flex: 1;
  display: flex;
  margin: 4px 0px 4px 0px;
}

label {
  font-weight: bold;
}

input, select {
  margin-left: 10px;
}

label, input, select {
  flex: 1;
  display: flex;
}

textarea {
  width: 100%;
}
