#root {
  display: flex;
  width: 100%;
}

.App {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

#fetch-embed-form #embed-code-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

div#preview-container {
  margin: auto;
}

div#preview {
  border: solid black;
  border-width: 1px;
}

#fetch-error {
  color: red;
  font-weight: bold;
}

.row {
  flex: 1;
  display: flex;
  margin: 4px 0px 4px 0px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

label > input, label > select, label > div {
  margin-left: 10px;
}

label.big > div, label.big > textarea {
  margin-left: 0px;
}

label.big {
  flex-direction: column;
}

label, input, select {
  flex: 1;
  display: flex;
}

textarea {
  width: 100%;
}
